{% extends "network/layout.html" %}

{% block body %}
    {% for post in f_posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'profile_page' username=post.author %}">{{ post.author }}</a></h5>
                <div class="card-text">{{ post.content }}</div>
                <h6 class="card-subtitle text-muted">{{ post.date }}</h6>
                <i class="fas fa-heart text-muted">0</i>
            </div>
        </div>
    {% endfor %}
{% endblock body %}
