{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'new_post' %}" method="post">
            <div class="form-group p-3 border">
                {% csrf_token %}
                {% for field in form %}
                    <b><label for="{{ field.auto_id }}">{{ field.label }}</label></b>
                    {{ field }}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    {% endif %}

    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body" data-post_id="{{ post.id }}">
                <h5 class="card-title"><a href="{% url 'profile_page' username=post.author %}">{{ post.author }}</a></h5>
                <div class="card-text">{{ post.content }}</div>
                <h6 class="card-subtitle text-muted">{{ post.date }}</h6>
                <i class="fas fa-heart text-muted">0</i>
                {% if post.author == user %}
                    <a class="edit-post-link" href="">Edit</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
