{% extends "network/layout.html" %}

{% block body %}
    <h3>{{ username }}</h3>

    <!-- Follow/unfollow links. -->
    {% if user.is_authenticated and user.username != username %}
        {% if is_follower %}
            <a href="{% url 'unfollow_view' target_name=username %}">Unfollow</a>
        {% else %}
            <a href="{% url 'follow_view' target_name=username %}">Follow</a>
        {% endif %}
    {% endif %}

    <h5>Folowers {{ followers.count }}</h5>
    <h5>Subscriptions {{ followings.count }}</h5>

    <!-- Render posts. -->
    {% include 'network/post_list.html' %}

{% endblock %}
